@page "/flats"
@inherits FlatBase

<PageTitle>Flats
</PageTitle>
<h3>Flats</h3>
@if(FlatsList == null)
{
    <div>No flats</div>
}
else
{
    @foreach(var flat in FlatsList)
    {
        <div class="col-md-3 mb-2">
        <a href="/FlatDetails/@flat.Id">
            <div class="card">
                <img class="img-thumbnail" src="@flat.PictureURL" >
                <div class="card-body">
                    <h5 class="card-title mb-3">
                        Name: @flat.Name
                    </h5>
                    <p class ="card-text">
                        <b>Renting Price:@flat.RentingPrice.ToString("C")</b>
                    </p>
                    @if (flat.IsRented)
                    {
                        <p class="card-text">Is Rented?: Yes</p>
                    }
                    else
                    {
                        <p class="card-text">Is Rented?:No</p>
                    }
                </div>
            </div>
        </a>
        </div>
        }
}