@page "/"
@using CondoApp.Web.Services.OpenWeather

<PageTitle>Condo Management App</PageTitle>
<div class="container page-wrapper">
    @if (Weather is null)
        {
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                </div>
            </div>
        }
    else{
        <div class="row">
            <WeatherDisplay Weather="Weather"></WeatherDisplay>
            <DatasDisplay></DatasDisplay>
        </div>
        <Buildings></Buildings>
    }
</div>
@code {
    [Inject] IOpenWeatherService OpenWeatherService { get; set; }

    WeatherDTO? Weather;
    protected override async Task OnInitializedAsync()
        {
            Weather = await OpenWeatherService.GetWeather();
        }

}
